<!DOCTYPE html>
<html>
<head>
    <title>Squares of Number Pairs</title>
</head>
<body>
    <h1>Squares of Number Pairs</h1>
    <table >
        <tr>
            <th>Number 1</th>
            <th>Number 2</th>
            <th>Square 1</th>
            <th>Square 2</th>
        </tr>
        {% for num1, num2, square1, square2 in pairs %}
        <tr>
            <td>{{ num1 }}</td>
            <td>{{ num2 }}</td>
            <td>{{ square1 }}</td>
            <td>{{ square2 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
