<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Language Selector</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Select Programming Languages</h1>
    <form id="language-form">
        {% csrf_token %}
        <label><input type="checkbox" name="languages" value="Python"> Python</label><br><br>
        <label><input type="checkbox" name="languages" value="JavaScript"> JavaScript</label><br><br>
        <label><input type="checkbox" name="languages" value="Java"> Java</label><br><br>
        <label><input type="checkbox" name="languages" value="C++"> C++</label><br><br>
        <label><input type="checkbox" name="languages" value="Ruby"> Ruby</label><br><br>
        <button type="button" id="submit-button">Submit</button>
    </form>
    <div id="result"></div>

    <script>
        $(document).ready(function(){
            $('#submit-button').on('click', function(event){
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "count_languages" %}',
                    data: $('#language-form').serialize(),
                    success: function(response){
                        $('#result').html('You have selected ' + response.count + ' languages.');
                    },
                    error: function(){
                        $('#result').html('An error occurred.');
                    }
                });
            });
        });
    </script>
</body>
</html>
